<input type="text" oninput={{perform searchRepo value="target.value"}} placeholder="Search GitHub..." />

{{#if searchRepo.isRunning}}
  {{loading-spinner}}
{{/if}}

<ul>
  {{#each searchRepo.lastSuccessful.value as |repo|}}
    <li>{{repo.full_name}}</li>
  {{/each}}
</ul>