<div class="sm:block xxs:w-320 xsml:w-375 xsm:w-425 smm:w-480 sm:w-600 md:mx-auto lg:w-240">
  <div class="xxs:w-95p md:mx-auto lg:w-240">
    <div class="xxs:vlx xsml:vlx xsm:vlx smm:vlx sm:vlx p-10 vl">
      <p class="text-blue-light text-sm leading-normal pt-4">

      </p>
    </div>
    <div class="xxs:w-320 xsml:w-375 xsm:w-425 smm:w-480 sm:w-600 md:w-240 border-b">
    </div>
  </div>

  <div class="flex">
    <div class="xxs:w-95p md:mx-auto lg:w-240">
      <div class="xxs:vlx p-10 vl">
        <p class="text-blue-light text-sm leading-normal pt-4 mb-5">
          Browse by Discipline
        </p>
        <div class="xxs:w-95p w-220">
          <select onchange={{action "setSelection" value="target.value"}} class="select">
            <option selected value="all_disciplines">-- Select Discipline --</option>
            <option value="all_disciplines">All Disciplines</option>
            <option value="drilling">Drilling</option>
            <option value="enhanced_oil_recovery">Enhanced Oil Recovery</option>
            <option value="formation_evaluation">Formation Evaluation</option>
            <option value="general_terms">General Terms</option>
            <option value="geochemistry">Geochemistry</option>
            <option value="geology">Geology</option>
            <option value="geophysics">Geophysics</option>
            <option value="heavy_oil">Heavy Oil</option>
            <option value="oil_and_gas_business">Oil and Gas Business</option>
            <option value="perforating">Perforating</option>
            <option value="production">Production</option>
            <option value="production_facilities">Production Facilities</option>
            <option value="production_logging">Production Logging</option>
            <option value="production_testing">Production Testing</option>
            <option value="reservoir_characterization">Reservoir Characterization</option>
            <option value="shale_gas">Shale Gas</option>
            <option value="well_completions">Well Completions</option>
            <option value="well_testing">Well Testing</option>
            <option value="well_workover_and_intervention">Well Workover and Intervention</option>
          </select>


          <button onclick={{action "submit"}} class="border border-black rounded-xl text-sm text-black-darkest pt-2 pr-7 pb-1 pl-7">
            Go
          </button>
        </div>
      </div>
      <div class="xxs:w-320 xsml:w-375 xsm:w-425 smm:w-480 sm:w-600 md:w-240 border-b">
      </div>
    </div>
  </div>

  <div class="flex">
    <div class="xxs:w-95p md:mx-auto lg:w-240">
      <div class="xxs:vlx p-10 vl">
        <p class="text-blue-light text-sm leading-normal pt-4">
          Terms beginning with:
          {{ui-sidetable}}
        </p>
      </div>
      <div class="xxs:w-320 xsml:w-375 xsm:w-425 smm:w-480 sm:w-600 md:w-240 border-b">
      </div>
    </div>
  </div>

  <div class="flex">
    <div class="xxs:w-95p md:mx-auto lg:w-240">
      <div class="xxs:vlx p-10 vl">
        <span class="text-base font-bold pb-3">Resource Links</span>
        <ul class="list-reset">
          <li class="mt-6 leading-normal">
            <a class="text-blue-light text-sm no-underline mt-4 mb-4" href="http://www.slb.com/services.aspx">
              Schlumberger Oilfield Services
            </a>
          </li>
          <li class="leading-normal">
            <a class="text-blue-light text-sm no-underline mt-4 mb-4" href="http://www.slb.com/resources/publications/oilfield_review.aspx">
              Oilfield Review
            </a>
          </li>
          <li class="leading-normal">
            <a class="text-blue-light text-sm no-underline mt-4 mb-4" href="http://www.apps.slb.com/cmd/">
              Curve Mnemonic Dictionary
            </a>
          </li>
          <li class="leading-normal">
            <a class="text-blue-light text-sm no-underline mt-4 mb-4" href="http://www.slb.com/seed/">
              Schlumberger Excellence in Education Development (SEED)
            </a>
          </li>
        </ul>
      </div>
      <div class="xxs:w-320 xsml:w-375 xsm:w-425 smm:w-480 sm:w-600 md:w-240 border-b">
      </div>
    </div>
  </div>

  <div class="flex">
    <div class="xxs:w-95p md:mx-auto lg:w-240">
      <div class="xxs:vlx p-10 vl">
        <span class="text-base font-bold pb-3">Credits and Administration</span>
        <ul class="list-reset pb-175">
          <li class="mt-6 leading-normal">
            <a class="text-blue-light text-sm leading-normal pt-4 no-underline mt-4 mb-4" href="https://www.glossary.oilfield.slb.com/en/maincredits.aspx">
              Schlumberger Oilfield Glossary Credits
            </a>
          </li>
          <li class="leading-normal">
            <a class="text-blue-light text-sm leading-normal pt-4 no-underline mt-4 mb-4" href="https://www.glossary.oilfield.slb.com/en/glossary_administration.aspx">
              Glossary Administration
            </a>
          </li>
        </ul>
      </div>
      <div class="xxs:w-320 xsml:w-375 xsm:w-425 smm:w-480 sm:w-600 md:w-240 border-b">
      </div>
    </div>
  </div>

</div>
