<footer class="xxs:text-center text-sm bg-black-lighter w-full pin-b border-t border-grey mb-15 max-w-xl mx-auto">
  <p class="text-grey-lighters text-xs">
    © 2018 Schlumberger Limited. All rights reserved. <span class="xxs:hidden xsml:hidden xsm:hidden smm:hidden sm:hidden">|</span>
    <span class="sm:hidden">
      <br>
    </span>
    <a href="http://www.slb.com/about/privacy.aspx" class="text-blue-lightly no-underline">
      Privacy <span class="text-grey-lighters">|</span>
    </a>
    <a href="http://www.slb.com/about/tos.aspx" class="text-blue-lightly no-underline">
      Terms <span class="text-grey-lighters">|</span>
    </a>
    <a href="http://www.slb.com/resources/help.aspx" class="text-blue-lightly no-underline">
      Help <span class="text-grey-lighters">|</span>
    </a>
    <a href="https://www.glossary.oilfield.slb.com/Terms/c/~/link.aspx?_id=AA149731ABC349F3B5F975B732F29DE3&_z=z" class="text-blue-lightly no-underline">
      Site Map <span class="text-grey-lighters">|</span>
    </a>
    <a href="http://www.slb.com/contact_us.aspx" class="text-blue-lightly no-underline">
      Contact
    </a>
  </p>
</footer>