<h3 class="capitalize pt-20 pb-5 ml-10">
  {{#each (take 1 model) as |letter|}}
    {{letter.letter}}
  {{/each}}
</h3>

{{alpha-grid terms=model}}

<div class="xs:w-320 sm:w-600 md:w-240 pt-10 border-b lg:hidden xl:hidden xxl:hidden txl:hidden threexl:hidden fourxl:hidden fivexl:hidden">
</div>

<div class="flex xxs:w-240 xs:w-240 sm:w-240 md:w-240 lg:flex lg:hidden xl:flex xl:hidden xxl:hidden txl:hidden threexl:hidden fourxl:hidden fivexl:hidden">
  <div class="xxs:w-95p md:mx-auto lg:w-240">
    <div class="xxs:vlx p-10 vl sidebar">
      <span class="text-md font-bold pb-3">Resource Links</span>
      <ul class="list-reset">
        <li class="mt-6 leading-normal">
          <a class="text-blue-light text-sm no-underline mt-4 mb-4" href="http://www.slb.com/services.aspx">
            Schlumberger Oilfield Services
          </a>
        </li>
        <li class="leading-normal">
          <a class="text-blue-light text-sm no-underline mt-4 mb-4" href="http://www.slb.com/resources/publications/oilfield_review.aspx">
            Oilfield Review
          </a>
        </li>
        <li class="leading-normal">
          <a class="text-blue-light text-sm no-underline mt-4 mb-4" href="http://www.apps.slb.com/cmd/">
            Curve Mnemonic Dictionary
          </a>
        </li>
        <li class="leading-normal">
          <a class="text-blue-light text-sm no-underline mt-4 mb-4" href="http://www.slb.com/seed/">
            Schlumberger Excellence in Education Development (SEED)
          </a>
        </li>
      </ul>
    </div>
    <div class="xs:w-320 sm:w-600 md:w-240 border-b">
    </div>
  </div>
</div>

<div class="flex xxs:w-240 xs:w-240 sm:w-240 md:w-240 lg:flex lg:hidden xl:flex xl:hidden xxl:hidden txl:hidden threexl:hidden fourxl:hidden fivexl:hidden">
  <div class="xxs:w-95p md:mx-auto lg:w-240">
    <div class="xxs:vlx p-10 vl sidebar">
      <span class="text-md font-bold pb-3">Credits and Administration</span>
      <ul class="list-reset pb-175">
        <li class="mt-6 leading-normal">
          <a class="text-blue-light text-sm leading-normal pt-4 no-underline mt-4 mb-4" href="https://www.glossary.oilfield.slb.com/en/maincredits.aspx">
            Schlumberger Oilfield Glossary Credits
          </a>
        </li>
        <li class="leading-normal">
          <a class="text-blue-light text-sm leading-normal pt-4 no-underline mt-4 mb-4" href="https://www.glossary.oilfield.slb.com/en/glossary_administration.aspx">
            Glossary Administration
          </a>
        </li>
      </ul>
    </div>
    <div class="xs:w-320 sm:w-600 md:w-240">
    </div>
  </div>
</div>


{{outlet}}
