<div class="flex mx-auto lg:md:w-700 md:flex md:flex-col-reverse md:flex md:flex-col-reverse xs:flex xs:flex-col-reverse xs:ml-15 max-w-xl bg-grey-white md:flex md:flex-col-reverse lg:flex-row">

  <div class="border-black md:w-700 xs:mr md:w-700 md:ml-5">

    <p class="xs:w-95p lg:w-450 text-xxl text-blue-darkest mb-8 leading-xtra">
      The Oilfield Glossary: Where the Oil Field Meets the Dictionary
    </p>
    <p class="text-sm leading-normal mb-12">
      The Schlumberger Oilfield Glossary is an evergreen, instant reference that takes up no space on your bookshelf and offers many special features:
    </p>
    <ul class="xs:pl-5p xs:pr-5p text-sm leading-medium">
      <li>
        Comprehensive: definitions for major oilfield activities
      </li>
      <li>
        Accessible: definitions for both the technical generalist and the expert
      </li>
      <li>
        Accurate: definitions reviewed by technical experts
      </li>
      <li>
        Illustrated: high-quality, full-color photographs and illustrations clarify many definitions
      </li>
      <li>
        Thorough: citations of significant technical papers for further reading
      </li>
      <li>
        Versatile: streamlined navigation, enhanced search capability and key resource links
      </li>
      <li>
        Interactive: on-line capabilities allow for continual expansion and updating based on reader input.
      </li>
    </ul>
    <p class="xs:w-95p text-sm leading-normal mt-12 mb-42">
      Don't just take our word for it. The Schlumberger Oilfield Glossary has received Awards of Excellence from the Business Marketing Association and the Society for Technical Communication. Launched in 1998, the Oilfield Glossary, which includes
      more than 4640 entries, continues to expand and improve. Drill into this reservoir of terminology!
    </p>
    <img class="w-675 h-75" src="https://www.glossary.oilfield.slb.com/~/media/Images/ofg_mobile_app_banner.ashx" alt="">

  </div>
</div>

<div class="xs:w-320 sm:w-600 md:w-240 pt-10 border-b lg:hidden xl:hidden xxl:hidden txl:hidden threexl:hidden fourxl:hidden fivexl:hidden">
</div>

<div class="flex xxs:w-240 xs:w-240 sm:w-240 md:w-240 lg:hidden xl:hidden xxl:hidden txl:hidden threexl:hidden fourxl:hidden fivexl:hidden">
  <div class="xxs:w-95p md:mx-auto lg:w-240">
    <div class="xxs:vlx p-10 vl sidebar">
      <span class="text-md font-bold pb-3">Resource Links</span>
      <ul class="list-reset">
        <li class="mt-6 leading-normal">
          <a class="text-blue-light text-sm no-underline mt-4 mb-4" href="http://www.slb.com/services.aspx">
            Schlumberger Oilfield Services
          </a>
        </li>
        <li class="leading-normal">
          <a class="text-blue-light text-sm no-underline mt-4 mb-4" href="http://www.slb.com/resources/publications/oilfield_review.aspx">
            Oilfield Review
          </a>
        </li>
        <li class="leading-normal">
          <a class="text-blue-light text-sm no-underline mt-4 mb-4" href="http://www.apps.slb.com/cmd/">
            Curve Mnemonic Dictionary
          </a>
        </li>
        <li class="leading-normal">
          <a class="text-blue-light text-sm no-underline mt-4 mb-4" href="http://www.slb.com/seed/">
            Schlumberger Excellence in Education Development (SEED)
          </a>
        </li>
      </ul>
    </div>
    <div class="xs:w-320 sm:w-600 md:w-240 border-b">
    </div>
  </div>
</div>

<div class="flex xxs:w-240 xs:w-240 sm:w-240 md:w-240 lg:hidden xl:hidden xxl:hidden txl:hidden threexl:hidden fourxl:hidden fivexl:hidden">
  <div class="xxs:w-95p md:mx-auto lg:w-240">
    <div class="xxs:vlx p-10 vl sidebar">
      <span class="text-md font-bold pb-3">Credits and Administration</span>
      <ul class="list-reset pb-175">
        <li class="mt-6 leading-normal">
          <a class="text-blue-light text-sm leading-normal pt-4 no-underline mt-4 mb-4" href="https://www.glossary.oilfield.slb.com/en/maincredits.aspx">
            Schlumberger Oilfield Glossary Credits
          </a>
        </li>
        <li class="leading-normal">
          <a class="text-blue-light text-sm leading-normal pt-4 no-underline mt-4 mb-4" href="https://www.glossary.oilfield.slb.com/en/glossary_administration.aspx">
            Glossary Administration
          </a>
        </li>
      </ul>
    </div>
    <div class="xs:w-320 sm:w-600 md:w-240">
    </div>
  </div>
</div>
