<div class="container lg:mx-auto sm:flex sm:flex-col-reverse smm:flex smm:flex-col-reverse xsm:flex xsm:flex-col-reverse xsml:flex xsml:flex-col-reverse xxs:flex xxs:flex-col-reverse xxs:ml-15 xsml:mt-10 max-w-xl bg-grey-white md:flex md:flex-col-reverse lg:flex-row lg:w-980 md:shadow">

  <div class="xxs:w-95p mx-auto xxs:mr md:w-700 md:ml-20 md:mt-10">

    <p class="xxs:w-95p lg:w-450 text-blue-darkest text-xxl mb-8 leading-xtra">
      The Oilfield Glossary: Where the Oil Field Meets the Dictionary
    </p>
    <p class="text-xs leading-normal mb-12">
      The Schlumberger Oilfield Glossary is an evergreen, instant reference that takes up no space on your bookshelf and offers many special features:
    </p>
    <ul class="xxs:pl-5p xxs:pr-5p text-xs leading-medium">
      <li>
        Comprehensive: definitions for major oilfield activities
      </li>
      <li>
        Accessible: definitions for both the technical generalist and the expert
      </li>
      <li>
        Accurate: definitions reviewed by technical experts
      </li>
      <li>
        Illustrated: high-quality, full-color photographs and illustrations clarify many definitions
      </li>
      <li>
        Thorough: citations of significant technical papers for further reading
      </li>
      <li>
        Versatile: streamlined navigation, enhanced search capability and key resource links
      </li>
      <li>
        Interactive: on-line capabilities allow for continual expansion and updating based on reader input.
      </li>
    </ul>
    <p class="xxs:w-95p text-xs leading-normal mt-12 mb-42">
      Don't just take our word for it. The Schlumberger Oilfield Glossary has received Awards of Excellence from the Business Marketing Association and the Society for Technical Communication. Launched in 1998, the Oilfield Glossary, which includes
      more than 4600 entries, continues to expand and improve. Drill into this reservoir of terminology!
    </p>
    <img class="xxs:w-95p xxs:h-35 sm:h-60 w-690 h-77" src="https://www.glossary.oilfield.slb.com/~/media/Images/ofg_mobile_app_banner.ashx" alt="">

  </div>
</div>